<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
</head>
<body>
    <h1>Registrarse</h1>
    <a href="/login">Iniciar sesión</a>
    <form action="/register" method="post">
        <label for="name">Ingrese su nombre</label>
        <!-- Si hay datos que llegan por body conservarlos y ponerlos en value -->
        <input 
            type="text"
            name="name"
            id="name"
            value="<%= locals.oldData ? oldData.name : null %>"
        ><br>
        <!-- Si llegan errores imprimir abajo -->
        <% if (locals.errors && errors.name) { %>
            <div style="color:red">
                <%= errors.name.msg %>
            </div>
        <% } %>
        <label for="password">Ingrese su contraseña</label>
        <input 
            type="password" 
            name="password" 
            id="password"
            value="<%= locals.oldData ? oldData.password : null %>"
        ><br>
        <% if (locals.errors && errors.password) { %>
            <div style="color:red">
                <%= errors.password.msg %>
            </div>
        <% } %>
        <button type="reset">Borrar</button>
        <button type="submit">Crear usuario</button>
    </form>
</body>
</html>